@media only screen and (max-width: 767px) {

    /* HEADER FOR HOME PAGE */

    header {
        grid-area: header;
        grid-template-columns: 1fr 2fr 0.8fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "logo title social button"
        "date date date date";
    }

    /* .title {
        z-index: 1;
        grid-area: title;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
    } */

    #title {
        z-index: 1;
        grid-area: title;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
    }

    #social.close {
        display: none;
    }

    .social-img {
        width: 30px;
        height: auto;
    }

    nav {
        grid-area: button;
        /* margin-top: 500px; */
    }

    #date.close {
        display: none;
    }

    .open {
        width: 610px;
        text-align: left;
    }

    .close {
        display: none;
    }

    /* END OF HEADER FOR HOME PAGE */

    /* GRID FOR HOME PAGE */

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 8% 2% 1fr 0.3fr 1fr 0.3fr 25% 0.2fr;
        grid-template-areas:
        "header"
        "meet"
        "hero"
        "event"
        "weather"
        "main"
        "spotlight"
        "footer";
    }

    #meet-greet {
        background-color: #6D3B47;
        padding: 5px;
        border: 1px solid white;
        text-align: center;
        grid-area: meet;
        color: white;
    }

    /* START OF HERO SECTION */

    #hero-img img {
        grid-area: hero;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .welcome h2 {
        position: absolute;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 100px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }

    .join-us {
        position: absolute;
        margin-top: -70px;
        margin-left: 450px;
        padding: 10px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 8px;
        font-weight: 600px;
        font-family: 'Merriweather', serif;
        font-size: 24px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* END OF HERO SECTION */

    /* START OF MAIN SECTION */
    main {
        grid-area: main;
        background-color: #6D3B47;
        padding: 20px;
    }

    .news-title {
        color: white;
        font-size: 24px;
        text-align: center;
        margin-top: 50px;
    }

    .news-p {
        color: white;
        font-size: 20px;
        text-align: left;
    }

    /* END OF MAIN SECTION */


    #spotlight {
        grid-area: spotlight;
    }

    .spotlight-1 {
        height: 400px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.3fr 0.5fr 1% 0.3fr;
        grid-template-areas: 
        "tour-title"
        "tour-img"
        "tour-p"
        "line"
        "tour-contact";
    }

    .tour-title {
        grid-area: tour-title;
        font-size: 24px;
        text-align: center;
        margin-top: -25px;
    }

    .tour-img {
        width: 20%;
        grid-area: tour-img;
        margin-left: auto;
        margin-right: auto;
    }

    .tour-p {
        grid-area: tour-p;
    }

    .line-tour {
        grid-area: line;
        border-top: 1px solid white;
    }

    .tour-contact {
        grid-area: tour-contact;
        /* margin-top: 50px; */
    }

    .spotlight-2 {
        height: 400px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.3fr 0.5fr 1% 0.3fr;
        grid-template-areas: 
        "school-title"
        "school-img"
        "school-p"
        "line"
        "school-contact";
    }

    .school-title {
        grid-area: school-title;
        font-size: 24px;
        text-align: center;
        margin-top: -25px;
    }

    .school-img {
        width: 20%;
        grid-area: school-img;
        margin-left: auto;
        margin-right: auto;
    }

    .school-p {
        grid-area: school-p;
    }

    .line-school {
        grid-area: line;
        border-top: 1px solid white;
    }

    .school-contact {
        grid-area: school-contact;
        /* margin-top: 50px; */
    }

    .spotlight-3 {
        display: none;
    }

    #join {
        display: none;
    }

    /* EVENT SECTION */

    #event {
        grid-area: event;
        padding: 20px;
    }

    .networking {
        margin-top: -25px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
    }

    .location {
        margin-top: -20px;
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 20px;
    }

    .networking-p {
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 20px;
        margin-top: 50px;
    }

    /* WEATHER SECTION */
    #weather {
        grid-area: weather;
        padding: 20px;
        display: grid;
        grid-template-columns: 0.2 1fr 1fr 0.2fr;
        grid-template-rows: 15% 30% 20% 1% 0.2fr;
        grid-template-areas:
        ". title title ."
        ". img img degree"
        ". . nature nature"
        "line line line line"
        ". wind wind .";
        background-color: #6D3B47;
    }

    .weather-title {
        grid-area: title;
        text-align: center;
        margin-left: 50px;
        margin-top: -5px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
    }

    .weather-img {
        grid-area: img;
        margin-top: -50px;
        margin-left: -10px;
        width: 70%;
    }

    .degree {
        grid-area: degree;
        /* margin-left: -10px; */
        font-size: 30px;
        color: white;
        font-family: 'Merriweather', serif;
    }

    .nature {
        grid-area: nature;
        margin-top: 60px;
        margin-left: 30px;
        font-size: 20px;
        color: white;
        font-family: 'Merriweather', serif;
    }

    .line {
        grid-area: line;
        border-top: 1px solid white;
        margin-top: -80px;
    }

    .wind {
        grid-area: wind;
        font-size: 16px;
        color: white;
        margin-top: 40px;
    }

    /* END OF WEATHER SECTION */

    /* END OF GRID FOR HOME PAGE */

    /* FOOTER FOR HOME PAGE */

    footer {
        grid-area: footer;
        background-color: #6D3B47;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas:
        "logo-footer site info"
        "copy copy copy";
    }

    .logo-footer {
        grid-area: logo-footer;
        width: 50%;
        height: auto;
        margin-left: 3em;
        margin-top: 2em;
    }
    
    .site-name-footer {
        grid-area: site;
        align-content: center;
        font-size: 1.5em;
    }
    
    .info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Merriweather', serif;
        font-size: 1.2em;
        margin-left: -30px;
    }
    
    .copy {
        grid-area: copy;
        padding: 10px;
        display: inline;
        text-align: center;
        color: white;
        font-family: 'Merriweather', serif;
        font-size: 16px;
        border: 1px solid white;
    }

    /* END OF FOOTER FOR HOME PAGE */
}

@media only screen and (max-width: 600px) {


    /* HEADER FOR HOME PAGE */

    header {
        grid-area: header;
        grid-template-columns: 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr 90%;
        grid-template-areas:
        " logo title social button"
        "date date date date";
    }

    /* .logo {
        grid-area: logo;
        width: 50%;
        height: auto;
    } */

    #logo {
        grid-area: logo;
        width: 100%;
        height: auto;
    }

    /* .title {
        z-index: 1;
        grid-area: title;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    } */

    #title {
        z-index: 1;
        grid-area: title;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    #social.close {
        display: none;
    }

    .social-img {
        width: 30px;
        height: auto;
    }

    nav {
        grid-area: button;
    }

    #date.close {
        display: none;
    }

    .open {
        width: 500px;
        text-align: left;
        display: block;
    }

    .close {
        display: none;
    }

    /* END OF HEADER FOR HOME PAGE */

    /* GRID FOR HOME PAGE */

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 8% 2% 1fr 0.3fr 1fr 0.3fr 25% 0.2fr;
        grid-template-areas:
        "header"
        "meet"
        "hero"
        "event"
        "weather"
        "main"
        "spotlight"
        "footer";
    }

    #meet-greet {
        background-color: #6D3B47;
        padding: 5px;
        border: 1px solid white;
        text-align: center;
        grid-area: meet;
        color: white;
    }

    /* START OF HERO SECTION */

    #hero-img img {
        grid-area: hero;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .welcome h2 {
        position: absolute;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 100px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }

    .join-us {
        position: absolute;
        margin-top: -70px;
        margin-left: 450px;
        padding: 10px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 8px;
        font-weight: 600px;
        font-family: 'Merriweather', serif;
        font-size: 24px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* END OF HERO SECTION */

    /* START OF MAIN SECTION */
    main {
        grid-area: main;
        background-color: #6D3B47;
        padding: 20px;
    }

    .news-title {
        color: white;
        font-size: 24px;
        text-align: center;
        margin-top: 50px;
    }

    .news-p {
        color: white;
        font-size: 20px;
        text-align: left;
    }

    /* END OF MAIN SECTION */


    #spotlight {
        grid-area: spotlight;
    }

    .spotlight-1 {
        height: 400px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.3fr 0.5fr 1% 0.3fr;
        grid-template-areas: 
        "tour-title"
        "tour-img"
        "tour-p"
        "line"
        "tour-contact";
    }

    .tour-title {
        grid-area: tour-title;
        font-size: 24px;
        text-align: center;
        margin-top: -25px;
    }

    .tour-img {
        width: 20%;
        grid-area: tour-img;
        margin-left: auto;
        margin-right: auto;
    }

    .tour-p {
        grid-area: tour-p;
    }

    .line-tour {
        grid-area: line;
        border-top: 1px solid white;
    }

    .tour-contact {
        grid-area: tour-contact;
        /* margin-top: 50px; */
    }

    .spotlight-2 {
        height: 400px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.3fr 0.5fr 1% 0.3fr;
        grid-template-areas: 
        "school-title"
        "school-img"
        "school-p"
        "line"
        "school-contact";
    }

    .school-title {
        grid-area: school-title;
        font-size: 24px;
        text-align: center;
        margin-top: -25px;
    }

    .school-img {
        width: 20%;
        grid-area: school-img;
        margin-left: auto;
        margin-right: auto;
    }

    .school-p {
        grid-area: school-p;
    }

    .line-school {
        grid-area: line;
        border-top: 1px solid white;
    }

    .school-contact {
        grid-area: school-contact;
        /* margin-top: 50px; */
    }

    .spotlight-3 {
        display: none;
    }

    #join {
        display: none;
    }

    /* EVENT SECTION */

    #event {
        grid-area: event;
        padding: 20px;
    }

    .networking {
        margin-top: -25px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
    }

    .location {
        margin-top: -20px;
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 20px;
    }

    .networking-p {
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 20px;
        margin-top: 50px;
    }

    /* WEATHER SECTION */
    #weather {
        grid-area: weather;
        padding: 20px;
        display: grid;
        grid-template-columns: 0.2 1fr 1fr 0.2fr;
        grid-template-rows: 15% 30% 20% 1% 0.2fr;
        grid-template-areas:
        ". title title ."
        ". img img degree"
        ". . nature nature"
        "line line line line"
        ". wind wind .";
        background-color: #6D3B47;
    }

    .weather-title {
        grid-area: title;
        text-align: center;
        margin-left: 50px;
        margin-top: -5px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
    }

    .weather-img {
        grid-area: img;
        margin-top: -50px;
        margin-left: -10px;
        width: 70%;
    }

    .degree {
        grid-area: degree;
        /* margin-left: -10px; */
        font-size: 30px;
        color: white;
        font-family: 'Merriweather', serif;
    }

    .nature {
        grid-area: nature;
        margin-top: 60px;
        margin-left: 30px;
        font-size: 20px;
        color: white;
        font-family: 'Merriweather', serif;
    }

    .line {
        grid-area: line;
        border-top: 1px solid white;
        margin-top: -80px;
    }

    .wind {
        grid-area: wind;
        font-size: 16px;
        color: white;
        margin-top: 40px;
    }

    /* END OF GRID FOR HOME PAGE */

    /* FOOTER OF ALL PAGE */

    footer {
        grid-area: footer;
        background-color: #6D3B47;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.2fr 0.5fr;
        grid-template-areas:
        "logo-footer"
        "site"
        "info"
        "copy";
    }

    .logo-footer {
        grid-area: logo-footer;
        width: 30%;
        height: auto;
        margin-left: 10em;
        margin-top: 2em;
    }
    
    .site-name-footer {
        grid-area: site;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 2em;
        margin-left: -1em;
    }
    
    .info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        margin-left: -50px;
    }
    
    .copy {
        grid-area: copy;
        padding: 10px;
        display: inline;
        text-align: center;
        font-size: 0.8em;
        border: 1px solid white;
    }

    /* END OF FOOTER FOR ALL PAGE */
}