@media only screen and (max-width: 767px) {

    /* HEADER FOR HOME PAGE */

    header {
        grid-area: header;
        grid-template-columns: 1fr 2fr 0.8fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "logo title social button"
        "date date date date";
    }

    /* .title {
        z-index: 1;
        grid-area: title;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
    } */

    #title {
        z-index: 1;
        grid-area: title;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
    }

    #social.close {
        display: none;
    }

    .social-img {
        width: 30px;
        height: auto;
    }

    nav {
        grid-area: button;
        /* margin-top: 500px; */
    }

    #date {
        padding: 10px;
    }

    #date.close {
        display: none;
    }

    .open {
        width: 610px;
        text-align: left;
    }

    .close {
        display: none;
    }

    

    /* END OF HEADER FOR HOME PAGE */

    /* GRID FOR HOME PAGE */

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 10% 2% 1fr 0.3fr 0.5fr 0.3fr 28% 0.2fr;
        grid-template-areas:
        "header"
        "meet"
        "hero"
        "event"
        "weather"
        "main"
        "spotlight"
        "footer";
    }

    #meet-greet {
        background-color: #6D3B47;
        padding: 5px;
        border: 1px solid white;
        text-align: center;
        grid-area: meet;
        color: white;
    }

    /* START OF HERO SECTION */

    #hero-img img {
        grid-area: hero;
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
    }

    .welcome h2 {
        position: absolute;
        margin-top: -350px;
        margin-left: 250px;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }

    .join-us {
        position: absolute;
        margin-top: -70px;
        margin-left: 300px;
        padding: 10px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 8px;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        font-size: 24px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* END OF HERO SECTION */

    /* START OF MAIN SECTION */
    main {
        grid-area: main;
        background-color: #6D3B47;
        padding: 20px;
    }

    .news-title {
        color: white;
        font-size: 24px;
        text-align: center;
        margin-top: 50px;
    }

    .news-p {
        color: white;
        font-size: 20px;
        text-align: left;
    }

    /* END OF MAIN SECTION */


    #spotlight {
        grid-area: spotlight;
        color: white;
        text-align: center;
        padding-top: 30px;
        display: grid;
        grid-template-columns: 0.2fr 1fr 0.2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        ". business-0 ."
        ". business-1 .";
    }

    #spotlight a{
        font-size: 16px;
        color: white;
    }

    #spotlight h3 {
        font-size: 25px;
    }

    .business-0 {
        padding: 5px;
        grid-area: business-0;
        background-color: #453A49;
    }
      
    .business-1 {
        padding: 5px;
        grid-area: business-1;
        background-color: #453A49;
    }
    
    .business-2 {
        display: none;
        padding: 5px;
        background-color: #453A49;
    }

    #join {
        display: none;
    }

    /* EVENT SECTION */

    #event {
        grid-area: event;
        padding: 20px;
    }

    .networking {
        margin-top: -25px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
    }

    .location {
        margin-top: -20px;
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 20px;
    }

    .networking-p {
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 20px;
        margin-top: 50px;
    }

    /* WEATHER SECTION */
    #weather {
        grid-area: weather;
        padding: 20px;
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
        grid-template-rows: 15% 30% 20% 1% 0.2fr;
        grid-template-areas:
        ". title title ."
        ". img degree ."
        ". . nature ."
        ". line line ."
        ". . wind .";
        background-color: #6D3B47;
    }

    .weather-title {
        grid-area: title;
        text-align: center;
        /* margin-left: 50px; */
        margin-top: -5px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
    }

    #weather-img {
        grid-area: img;
        margin-top: -20px;
        margin-left: 100px;
        width: 50%;
    }

    .degree {
        grid-area: degree;
        margin-left: 80px;
        font-size: 30px;
        color: white;
        font-family: 'Merriweather', serif;
    }

    .nature {
        grid-area: nature;
        margin-top: 20px;
        margin-left: -80px;
        font-size: 20px;
        color: white;
        font-family: 'Merriweather', serif;
    }

    .line {
        grid-area: line;
        border-top: 1px solid white;
        margin-top: -60px;
    }

    #wind {
        grid-area: wind;
        font-size: 16px;
        color: white;
        margin-top: 20px;
        margin-left: -80px;
    }

    /* END OF WEATHER SECTION */

    /* END OF GRID FOR HOME PAGE */

    /* FOOTER FOR HOME PAGE */

    footer {
        grid-area: footer;
        background-color: #6D3B47;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas:
        "logo-footer site info"
        "copy copy copy";
    }

    .logo-footer {
        grid-area: logo-footer;
        width: 50%;
        height: auto;
        margin-left: 3em;
        margin-top: 2em;
    }
    
    .site-name-footer {
        grid-area: site;
        align-content: center;
        font-size: 1.5em;
    }
    
    .info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Merriweather', serif;
        font-size: 1.2em;
        margin-left: -30px;
    }
    
    .copy {
        grid-area: copy;
        padding: 10px;
        display: inline;
        text-align: center;
        color: white;
        font-family: 'Merriweather', serif;
        font-size: 16px;
        border: 1px solid white;
    }

    /* END OF FOOTER FOR HOME PAGE */





                                        /* --------------- CSS FOR DISCOVER PAGE --------------- */

    .h3-discover {
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 24px;
    }

    .discover-p {
        font-family: 'Merriweather', serif;
        font-size: 16px;
        text-align: left;
        line-height: 3em;
    }

    section img[data-src] {
        filter: blur(0.5em);
    }

    section img {
        filter: blur(0em);
        transition: filter 0.5s;
    }

    .container-discover {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8% 5fr 0.2fr;
        grid-template-areas:
        "header"
        "main"
        "footer";
        gap: 50px;
    }

    .main-discover {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 1fr 1fr 1fr 1fr 1fr 0.2fr;
        grid-template-areas:
        "heading"
        "activity"
        "beach"
        "restaurants"
        "population"
        "school"
        ".";
        /* gap: 2px; */
    }

    .discover-h2 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        color: white;
    }

    .activity {
        grid-area: activity;
        border-top: 2px solid white;
    }

    .beach {
        grid-area: beach;
        border-top: 2px solid white;
    }

    .restaurants {
        grid-area: restaurants;
        border-top: 2px solid white;
    }

    .population {
        grid-area: population;
        border-top: 2px solid white;
    }

    .school {
        grid-area: school;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .discover-img {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid white;
    }

                                            /* --------------- END OF DISCOVER PAGE --------------- */


                                            /* --------------- CSS FOR JOIN PAGE --------------- */
    .container-join {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 12% 1fr 0.2fr;
        grid-template-areas:
        "header"
        "main"
        "footer";
        gap: 50px;
    }

    /* .main-join {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2% 1fr 1fr 1fr 5%;
        grid-template-areas:
        "heading"
        "contact"
        "membership"
        "describe"
        "submit";
    }
    
    .join-header {
        grid-area: heading;
    }

    .contact-info {
        grid-area: contact;
    }

    .membership {
        grid-area: membership;
    }

    .describe-b {
        grid-area: describe;
    }

    .submitBtn {
        grid-area: submit;
    } */

    form fieldset {
        margin: 2em 0;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
    }

    form legend {
        font-size: 25px;
        color: white;
        padding: 0 .5rem;
    }

    form label.top {
        display: block;
        padding-top: 1rem;
        font-size: 1rem;
        color: white;
    }

    form label.top input {
        display: block;
        color: white;
        font-size: 1rem;
        border: 1px solid white;
        border-radius: 4px;
        padding: .75rem;
        width: 100%;
        max-width: 25rem;
        height: 44px;
        background-color: lightgrey;
    }

    .group {
        font-size: 20px;
    }

    form label.sbs {
        font-size: 16px;
        display: block;
        padding: .75rem 0;
        color: white;
    }

    form label.bottom textarea {
        display: block;
        font-size: 1rem;
    }

    form input.submitBtn {
        border: none;
        background-color: white;
        color: black;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 0 0 2rem 2%;
        width: 96%;
        max-width: 20rem;
    }

    form label.top input:required {
        border-left: 6px solid red;
    }

    form label.top input:required:valid {
        border-left: 6px solid green;
    }


                                        /* --------------- END OF JOIN PAGE --------------- */

                                        /* --------------- CSS FOR THANK YOU PAGE --------------- */



    .container-thank-you {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 25% 1fr;
        grid-template-areas:
        "header"
        "main"
        "footer";
        gap: 50px;
    }
                                        /* --------------- END OF THANK YOU PAGE --------------- */

                                        /* --------------- CSS FOR DIRECTORY PAGE --------------- */
    .container-directory {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8% 2fr 8%;
        grid-template-areas:
        "header"
        "main"
        "footer";
        gap: 50px;
    }

    /* * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */

    .business-header {
        text-align: center;
        font-size: 40px;
    }

    .menu {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
        padding: 5px;
        background-color: #453A49;
        text-align: center;
        gap:  10px;
        margin-bottom: 60px;
    }

    .menu button {
        width: 150px;
        padding: 1rem;
        font-weight: 700;
    }


    .cards {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, mixmax(320px, 1fr)); */
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 10px;
        line-height: 30px;
    }

    .cards h3 {
        font-size: 24px;
    }

    .cards img {
        width: 50%;
        object-fit: cover;
        box-shadow: 10px 10px 5px #453A49;
    }

    .cards section {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        border: 1px solid white;
    }

    .cards a {
        color: white;
    }

    .list {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        font-size: 16px;
        margin-bottom: 50px;
    }

    .list section {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        text-align: center;
        padding: 10px;
        border: none;
    }

    .list section > * {
        margin: 0 1rem;
    }

    .list section img {
        display: none;
    }

    .list section h3{
        font-size: 20px;
        font-family: 'Merriweather', serif;
    }

    .list section p {
        font-size: 16px;
    }

    .list section a {
        font-size: 16px;
    }

    .list section:nth-child(even) {
        background-color: #453A49;
    }

    section a {
        font-family: 'Merriweather', serif;
        font: 0.9rem;
    }

                                        /* --------------- END OF DIRECTORY PAGE --------------- */


                                        /* --------------- CONTACT US PAGE --------------- */

    .container-contactus {
        display: grid;
        max-width: 1600px;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 2fr 8%;
        grid-template-areas:
        "header"
        "main"
        "footer";
        gap: 40px;
    }

    .main-contactus {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 1fr 0.7fr 1fr;
        grid-template-areas:
        "header"
        "point-direct"
        "inquiries"
        "additional-contact";
    }

    .header-contactus {
        font-size: 40px;
        text-align: center;
    }

    .village-img {
        grid-area: village;
    }

    .village-img h2 {
        color: white;
        font-size: 60px;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        text-align: center;
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .village-img img {
        width: 100%;
        height: 70%;
        margin-top: 10px;
        object-fit: cover;
    }

    .point-direct {
        grid-area: point-direct;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "president"
        "secretary"
        "chairman";
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding: 10px;
    }

    .point-direct img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .point-direct figcaption {
        text-align: center;
        padding-top: 10px;
    }

    .point-direct p {
        text-align: left;
        width: 90%;
    }

    .president {
        grid-area: president;
    }

    .secretary {
        grid-area: secretary;
    }

    .chairman {
        grid-area: chairman;
    }

    .inquiries {
        grid-area: inquiries;
        margin-top: 20px;
        border-bottom: 2px solid white;
    }

    .inquiries h4 {
        font-size: 20px;
    }

    .building img {
        display: none;
    }

    .additional-contact {
        grid-area: additional-contact;
        margin-top: 20px;
    }
  
    .headshot {
        width: 80%;
        border-radius: 80%;
    }
                                        /* --------------- END OF CONTACT US PAGE --------------- */

}

@media only screen and (max-width: 600px) {


    /* HEADER FOR HOME PAGE */

    header {
        grid-area: header;
        grid-template-columns: 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr 90%;
        grid-template-areas:
        " logo title social button"
        "date date date date";
    }

    /* .logo {
        grid-area: logo;
        width: 50%;
        height: auto;
    } */

    #logo {
        grid-area: logo;
        width: 100%;
        height: auto;
    }

    /* .title {
        z-index: 1;
        grid-area: title;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    } */

    #title {
        z-index: 1;
        grid-area: title;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    #social.close {
        display: none;
    }

    .social-img {
        width: 30px;
        height: auto;
    }

    nav {
        grid-area: button;
    }

    #date.close {
        display: none;
    }

    .open {
        width: 500px;
        text-align: left;
        display: block;
    }

    .close {
        display: none;
    }

    /* END OF HEADER FOR HOME PAGE */

    /* GRID FOR HOME PAGE */

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 10% 2% 1fr 0.3fr 0.5fr 0.3fr 27% 0.2fr;
        grid-template-areas:
        "header"
        "meet"
        "hero"
        "event"
        "weather"
        "main"
        "spotlight"
        "footer";
    }

    #meet-greet {
        background-color: #6D3B47;
        padding: 5px;
        border: 1px solid white;
        text-align: center;
        grid-area: meet;
        color: white;
    }

    /* START OF HERO SECTION */

    #hero-img img {
        grid-area: hero;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .welcome h2 {
        position: absolute;
        margin-top: -250px;
        margin-left: 150px;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 25px;
    }

    .join-us {
        position: absolute;
        margin-top: -70px;
        margin-left: 150px;
        padding: 10px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 8px;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        font-size: 24px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* END OF HERO SECTION */

    /* START OF MAIN SECTION */
    main {
        grid-area: main;
        background-color: #6D3B47;
        padding: 20px;
    }

    .news-title {
        color: white;
        font-size: 24px;
        text-align: center;
        margin-top: 50px;
    }

    .news-p {
        color: white;
        font-size: 20px;
        text-align: left;
    }

    /* END OF MAIN SECTION */


    #spotlight {
        grid-area: spotlight;
    }

    .spotlight-1 {
        height: 400px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.3fr 0.5fr 1% 0.3fr;
        grid-template-areas: 
        "tour-title"
        "tour-img"
        "tour-p"
        "line"
        "tour-contact";
    }

    .tour-title {
        grid-area: tour-title;
        font-size: 24px;
        text-align: center;
        margin-top: -25px;
    }

    .tour-img {
        width: 20%;
        grid-area: tour-img;
        margin-left: auto;
        margin-right: auto;
    }

    .tour-p {
        grid-area: tour-p;
    }

    .line-tour {
        grid-area: line;
        border-top: 1px solid white;
    }

    .tour-contact {
        grid-area: tour-contact;
        /* margin-top: 50px; */
    }

    .spotlight-2 {
        height: 400px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.2fr 0.3fr 0.5fr 1% 0.3fr;
        grid-template-areas: 
        "school-title"
        "school-img"
        "school-p"
        "line"
        "school-contact";
    }

    .school-title {
        grid-area: school-title;
        font-size: 24px;
        text-align: center;
        margin-top: -25px;
    }

    .school-img {
        width: 20%;
        grid-area: school-img;
        margin-left: auto;
        margin-right: auto;
    }

    .school-p {
        grid-area: school-p;
    }

    .line-school {
        grid-area: line;
        border-top: 1px solid white;
    }

    .school-contact {
        grid-area: school-contact;
        /* margin-top: 50px; */
    }

    .spotlight-3 {
        display: none;
    }

    #join {
        display: none;
    }

    /* EVENT SECTION */

    #event {
        grid-area: event;
        padding: 20px;
    }

    .networking {
        margin-top: -25px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
    }

    .location {
        margin-top: -20px;
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 20px;
    }

    .networking-p {
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 20px;
        margin-top: 50px;
    }

    /* WEATHER SECTION */
    #weather {
        grid-area: weather;
        padding: 20px;
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
        grid-template-rows: 15% 30% 20% 1% 0.2fr;
        grid-template-areas:
        ". title title ."
        ". img degree ."
        ". . nature ."
        ". line line ."
        ". . wind .";
        background-color: #6D3B47;
    }

    .weather-title {
        grid-area: title;
        text-align: center;
        /* margin-left: 50px; */
        margin-top: -5px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
    }

    #weather-img {
        grid-area: img;
        margin-top: 5px;
        margin-left: 100px;
        width: 50%;
    }

    .degree {
        grid-area: degree;
        margin-left: 80px;
        font-size: 30px;
        color: white;
        font-family: 'Merriweather', serif;
    }

    .nature {
        grid-area: nature;
        margin-top: 20px;
        margin-left: -80px;
        font-size: 20px;
        color: white;
        font-family: 'Merriweather', serif;
    }

    .line {
        grid-area: line;
        border-top: 1px solid white;
        margin-top: -60px;
    }

    #wind {
        grid-area: wind;
        font-size: 16px;
        color: white;
        margin-top: 20px;
        margin-left: -80px;
    }

    /* END OF GRID FOR HOME PAGE */

    /* FOOTER OF ALL PAGE */

    footer {
        grid-area: footer;
        background-color: #6D3B47;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.2fr 0.5fr;
        grid-template-areas:
        "logo-footer"
        "site"
        "info"
        "copy";
    }

    .logo-footer {
        grid-area: logo-footer;
        width: 30%;
        height: auto;
        margin-left: 10em;
        margin-top: 2em;
    }
    
    .site-name-footer {
        grid-area: site;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 2em;
        margin-left: -1em;
    }
    
    .info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        margin-left: -50px;
    }
    
    .copy {
        grid-area: copy;
        padding: 10px;
        display: inline;
        text-align: center;
        font-size: 0.8em;
        border: 1px solid white;
    }

    /* END OF FOOTER FOR ALL PAGE */

                                        /* --------------- CSS FOR DIRECTORY PAGE --------------- */
    .container-directory {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4% 2fr 8%;
        grid-template-areas:
        "header"
        "main"
        "footer";
        gap: 50px;
    }

                                        /* --------------- END OF DIRECTORY PAGE --------------- */

                                        /* --------------- CONTACT US PAGE --------------- */

    .container-contactus {
        display: grid;
        max-width: 1600px;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 2fr 14%;
        grid-template-areas:
        "header"
        "main"
        "footer";
        gap: 40px;
    }

    .main-contactus {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 1fr 0.7fr 1fr;
        grid-template-areas:
        "header"
        "point-direct"
        "inquiries"
        "additional-contact";
    }

    .header-contactus {
        font-size: 40px;
        text-align: center;
    }

    .village-img {
        grid-area: village;
    }

    .village-img h2 {
        color: white;
        font-size: 60px;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        text-align: center;
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .village-img img {
        width: 100%;
        height: 70%;
        margin-top: 10px;
        object-fit: cover;
    }

    .point-direct {
        grid-area: point-direct;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "president"
        "secretary"
        "chairman";
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding: 10px;
    }

    .point-direct img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .point-direct figcaption {
        text-align: center;
        padding-top: 10px;
    }

    .point-direct p {
        text-align: left;
        font-size: 15px;
        width: 100%;
    }

    .president {
        grid-area: president;
    }

    .secretary {
        grid-area: secretary;
    }

    .chairman {
        grid-area: chairman;
    }

    .inquiries {
        grid-area: inquiries;
        margin-top: 20px;
        border-bottom: 2px solid white;
    }

    .inquiries h4 {
        font-size: 20px;
    }

    .building img {
        display: none;
    }

    .additional-contact {
        grid-area: additional-contact;
        margin-top: 20px;
    }

    .headshot {
        width: 80%;
        border-radius: 80%;
    }
                                        /* --------------- END OF CONTACT US PAGE --------------- */
}