#content {
    max-width: 760px;
    margin: 0 auto;
}

header, main, footer {
    margin-left: 150px;
    max-width: 760px;
}

#header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

img {
    width: 100px;
    height: 80px;
    z-index: 1;
    margin-left: 10px;
    margin-top: 10px;
}

#header-background {
    background-color: navy;
    height: 200px;
    grid-column: 1/5;
    margin-top: -180px;
}

h1 {
    z-index: 1;
    color: white;
    grid-column: 2/6;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 1.2em;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 1em;
}

p, ul {
    font-family: 'Merriweather', serif;
    font-size: 1em;
}

ul {
    margin-bottom: 40px;
}

#footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#footer-background {
    background-color: navy;
    height: 100px;
    grid-column: 1/5;
    margin-top: -110px;
}

footer p {
    font-size: .7;
    color: white;
    z-index: 1;
    grid-column: 1/5;
    text-align: center;
}
